*{
  margin: 0;
  padding: 0;
}
.movies{
  display: flex;
  gap: 20px;
  padding: 40px;
}
.movies img{
  width: 200px;
  height: 300px;
}
.movieCard{
  background-color: rgb(233, 228, 210);
}
h2,h3{
  font-size: 20px;}